<div>
    <head>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700' />
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
        <link rel='stylesheet' href='style.css' />
    </head>
    <ul class="timeline">
      <li>
        <p class="event"><span class="year">1984</span> <span class="short-desc">event title</span></p>
        <p class="details">Some info about when this happened</p>
      </li>
      <li>
        <p class="event"><span class="year">1999</span> <span class="short-desc">event title</span></p>
        <p class="details">Some info about when this happened</p>
      </li>
      <li>
        <p class="event"><span class="year">2003</span> <span class="short-desc">event titlee</span></p>
        <p class="details">Some info about when this happened</p>
      </li>
      <li>
        <p class="event"><span class="year">2016</span> <span class="short-desc">event title</span></p>
        <p class="details">Some info about when this happened</p>
      </li>
    </ul>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="timeline.js"></script>
</div>